
.footer{
    background-color: var(--secundario);
    color:white;
    padding: 16px 32px;

    display: flex;
    flex-direction: row;

    justify-content: space-around;

    flex-grow: 1;

    font-size: 12px;
}

.footer p{
    font-weight: 700;
    margin-bottom: 16px;
}
.izquierda{
    flex-grow: 1;
}

.derecha{
    flex-grow: 2;
}