
.login{
    width:100wh;
    height: 100vh;
}

.main{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main form{
    padding: 16px;
    border-radius: 12px;
    border:  2px solid var(--primario-dos);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main .input{
    padding:4px;
}

.main p{
    text-align:center;
}

.footer{
    padding: 12px;
}

.label{
    margin-bottom: 12px;
}

.label button{
    border-radius: 6px;
    padding:8px;
    background-color: rgb(30, 182, 75);
    color: white;

    font-size: 16px;
}