* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
/* GLOBAR */

:root{
  --primario-uno: rgb(214, 222, 233);
  --primario-dos: rgb(25, 114, 183);
  --primario-tres: rgb(0, 34, 69);
  --secundario: rgb(59, 59, 59);

  --titulo: 24px;
  --subtitulo: 18px;

  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

button{
  cursor: pointer;
  border:none;
}